<!DOCTYPE html >
<html><head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"><title>JamList</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/jamlist.css" type="text/css">
</head>
<body>
    <div id = "page">
        <div id = "header">
            {% block header %}
            <span class="page_header_left">JamList</span>
            <span class="page_header_right">{{username}}
                <a href="/logout">Logout</a>
            </span>
            {% endblock %}
        </div>
        <div id="left_content_float">
            {% block side_menu %}
            generic menu
            {% endblock %}
        </div>
        <div id="right_content_float">
            {% block content %}
            generic content
            {% endblock %}
        </div>
    </div>
</body></html>
