<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Login</title>

<link rel="stylesheet" href="../static/jamlist.css" type="text/css">
</head>
<body>
<span class="title">JamList</span><br>
<div class="undertitle">
<br>
<form method="post">
<table>
<tbody>
    <tr>
        <td class = label> Username
        </td>
<td>
    <input name="username" value="{{username}}" type="text"></td>
</tr>
<tr class = "label"> 
    <td>Password</td>
    <td>
        <input name="password" value="" type="password"></td>
<tr class = "error">
    <td> {{error_message}}</td>
</tr>
</tbody>
</table>
<input value="Login" type="submit">
</form>
</div>
</body></html>
