{% extends "login_register_base.html" %}
    {% block title %}
    <title>Register</title>
    {% endblock %}

    {% block form %}

    <form role=form method="post">
        <div class="row">
            <div class="col-md-6">
                Username
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input_username">
                        <input name="username" value="{{username}}" type="text" class="form-control" id="input_username">
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
                <div class=col-md-6">
                    {{error_username}}
                </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Password
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input_password">
                        <input name="password" value="" type="password" class="form-control" id="input_password">
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                {{error_password}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Verify Password
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="verify_password">
                        <input name="verify" value="" type="password" class="form-control" id="verify_password">
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                {{error_verify}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Email 
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input_email">
                        <input name="email" value="{{email}}" type="text" class="form-control" id="input_email">
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                {{error_email}}
            </div>
        </div>
<input value="Register" type="submit">
</form>

    {% endblock %}
