<!DOCTYPE html>
<html><head>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        {% block title %}
        <title>Login</title>
        {% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/jamlist.css" type="text/css">
</head>
<body>
    <div class=container-fluid>
                <span class="title"><span class="visible-lg-inline">JamList</span></span><br>
        <span class="title"><span class="visible-md-inline">JamList</span></span><br>
<span class="small_title"><span class="visible-sm-inline ">JamList</span></span><br>
<span class="small_title"><span class="visible-xs-inline ">JamList</span></span><br>
<div class="undertitle">
    <br>
        {% block form %}
        generic form
        {% endblock %}

</div>
</div>
</body></html>
