{% extends "base.html" %}
    {% block side_menu %}
        <a class = "generic_text" href = "/newsong">Add New Song</a>
        {% endblock %}

        {% block content %}
        <br>
<form role=form method="post">
    Title
    <div class=form-group>
        <input name="song_title" value="{{song_title}}" type="text" class = "song_title_key">
</div>
{{error_song_title}}
Key
    <div class=form-group>
        <input name="song_key" value="" type="text" class = "song_title_key">
    </div>
{{error_song_key}}
Lyrics
    <div class=form-group>
        <textarea name="song_lyrics" rows = "10" columns = "50" id = "song_lyrics"></textarea>
    </div>
{{error_song_lyrics}}
Notes
    <div class=form-group>
        <textarea name="song_notes" rows = "10" columns = "50" id = "song_notes"></textarea>
    </div>
{{error_song_notes}}
<input value="Save song" type="submit">
</form>
<br>
        {% endblock %}

